<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

<section>

    <form action="/admin/movies/edit-movie/<%=movie._id%>" method="POST">
        <input type="text" id="Title" name="Title" placeholder="nombre de la película" class="" value="<%= movie.Title %>">
        <input type="text" id="Year" name="Year" placeholder="Año de la película" class="" value="<%= movie.Year %>">
        <input type="text" id="Runtime" name="Runtime" placeholder="Duración de la película" class="" value="<%= movie.Runtime %>">
        <input type="text" id="Genre" name="Genre" placeholder="Género de la película" class="" value="<%= movie.Genre %>">
        <input type="text" id="Director" name="Director" placeholder="Director de la película" class="" value="<%= movie.Director %>">
        <input type="text" id="Poster" name="Poster" placeholder="Imagen de la película" class="" value="<%= movie.Poster %>">
        <input type="text" id="Actors" name="Actors" placeholder="Actores de la película" class=""value="<%= movie.Actors>
        <input type="text" id="Plot" name="Plot" placeholder="Trama de la película" class=""value="<%= movie.Plot>
        <input type="text" id="Metascore" name="Metascore" placeholder="Puntuación de la película" class=""value="<%= movie.Metascore>
        <input type="submit" value="Editar Película">
    </form>

</section>
<%= movie %>
<%- include('./templates/footer.ejs') %>