<%- include('./userTemplates/header2') %> <%- include("userTemplates/menu") %> 
<% if (movieData.ok !=false||movieData.Response== "True") { %>

<section class="movie-card centerText gridContainerMax-2c maxWidthMedium">
  <div>
   <img class="image-omdb" src="<%=movieData.image%>" alt="<%=movieData.Title %> " />
  </div>

  <article>
    <h1><%=movieData.Title %></h1>

    <div class="movie-facts">
      <span>Year: <%=movieData.Year%>, </span>
      <span>Duration: <%= movieData.Runtime %>, </span>
      <span>Genre: <%= movieData.Genre %> </span>
    </div>

    <h4>Director:</h4>
    <p><%= movieData.Director %></p>

    <h4>Cast:</h4>
    <p><%= movieData.Actors %></p>

    <h4>Plot:</h4>
    <p><%= movieData.Plot %></p>

    <h4>Reviews:</h4>

      <p class="reviews"><%=reviews%></p>
      


    <a class=<%=add%>  href=<%=`/movies/add/${movieData.Title.replaceAll(" ","_")}`%> >Add to
      favourites</a>
    <a class=<%=remove%>  href=<%=`/movies/delete/${movieData.Title.replaceAll(" ","_").toLowerCase()}`%> >Remove
      from favourites</a>
  </article>
</section>

<% } else { %>
<p class="error-message"><%= movieData.msg %></p>
<% } %> <%- include("./userTemplates/footer") %>
